<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>You are about to edit this user:- <%=userData.email%></h1>
    <form action="/user/<%=userData.id%>?_method=PATCH" method="POST">
        <textarea name="username" id="" cols="15" rows="5"><%=userData.username%></textarea>
        <br>
        <label for="pass">Write your password here for to edit the username :-</label>
        <input type="password" name="password" id="pass">
        <button>Submit</button>
    </form>
</body>
</html>