<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>The Total Number of users are : <%=count%></h1> 
    <a href="http://localhost:5000/user">See all users here...</a>
    <h3>Search Spefic User with their username :- <a href="http://localhost:5000/user/search">Click here!</a></h3>
    <form action="/user/new" method="get">
        <button>Join us!</button>
    </form>
</body>
</html>